\.DS_Store

*.xcworkspacedata
*.xcuserstate
Pods/


SwifterUI.xcworkspace/xcshareddata/
SwifterUI.xcworkspace/xcuserdata/

SwifterUI.xcodeproj/xcshareddata/
SwifterUI.xcodeproj/xcuserdata/
SwifterUI.xcodeproj/project\.xcworkspace/xcshareddata/


*.log
